@import "color.less";
@import "mixing.less";
@import "responsive.less";
@import "variable.less";

* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: @font;
  font-size: 14px;
  font-weight: 400;
  color: @color-black;
  background-color: @color-bg;
  overflow: visible !important;
}
.text-center {
  text-align: center;
}
.pt-0 {
  padding-top: 0;
}
.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.mt-10 {
  margin-top: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mr-30 {
  margin-right: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.ml-30 {
  margin-left: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-50 {
  margin-left: 50px;
}
